{{extend 'layout.html'}}
<h3>
    A gyártás utáni elérhető készlet(ek)
</h3>
<table class='web2py_grid'>
    <tr>
        <th>{{=T('#')}}</th>
        <th>{{=T('Product Name')}}</th>
        <th>{{=T('ID')}}</th>
        <th>{{=T('Serial ID')}}</th>
        <th>{{=T('Recorded quantity')}}</th>
    </tr>
{{for row in actual_stock:}}
    <tr>
        <td>{{if row['id']:}}
                {{style='font-weight:normal'}}
                {{=row['id']}}
            {{else:}}
                {{style='font-weight:bold'}}
            {{pass}}
        </td>
        <td style='{{=style}}'>{{=row['product_name']}}</td>
        <td style='{{=style}}'>{{=row['product_id']}}</td>
        <td style='{{=style}}'>{{=row['serial_id']}}</td>
        <td style='{{=style}}'>{{=row['quantity']}}</td>
    </tr>
    {{if not row['id']: }}<tr style='height:1ex;'></tr>{{pass}}
{{pass}}
</table>
<table>
    <tr>
        <td>{{=T('Value of Product')}}: {{=vfp}}</td>
        <td>{{=T('Value of Raw Materials')}}: {{=vrm}}</td>
        <td>{{=T('Additional Value')}}: {{=addv}}</td>
    </tr>
</table>
<h3>
    A gyártás készletmozgásai
</h3>
{{=new_stock_items}}
