{{extend 'layout.html'}}

{{=manufacturing_order_list}}

{{if request.args and ('new' in request.args or 'edit' in request.args) :}}
<script>
$( document ).ready(function() {
    var prod_id = $("#manufacturing_order_product").val();
    adjust_boms(prod_id);

    $( "#manufacturing_order_product" ).change(function() {
        prod_id = $("#manufacturing_order_product").val();
        var url = '/' + '{{=request.application}}' + '/products/get_unit/?product_id=' + prod_id;
        $.get(url, function(result) {
            $('#manufacturing_order_unit').val(result);
        });
        adjust_boms(prod_id);
    });
});

function adjust_boms(prod_id) {
    var url2 = '/' + '{{=request.application}}' + '/boms/get_available_boms.xml/?product_id=' + prod_id;
    var options =  $("#manufacturing_order_bom")

    $.get(url2, function(result) {
        var new_options = ''
        items = $(result).find("item");
        if (items.length < 1) {new_options = "<option value=''>{{=T('N/A')}}</option>"}
        items.each(function() {
            var id = $(this).find('id').text();
            var name = $(this).find('name').text();
            new_options += '<option value=' + id + '>' + name + '</option>';
        });
        options.html(new_options);
    });
}
</script>
{{pass}}
