{{extend 'layout.html'}}

{{=manufacturing_order_list}}

{{if request.args and ('new' in request.args or 'edit' in request.args) :}}
<script>
var count_for_sync = 1;

$( document ).ready(function() {
    var prod_id = $("#manufacturing_order_product").val();
    adjust_boms(prod_id);

    $( "#manufacturing_order_product" ).change(function() {
        set_elements(true, 0);
        count_for_sync = 2;
        prod_id = $("#manufacturing_order_product").val();
        var url = '/' + '{{=request.application}}' + '/products/get_unit/?product_id=' + prod_id;
        $.get(url, function(result) {
            $('#manufacturing_order_unit').val(result);
            count_for_sync--;
            set_elements(false, count_for_sync);
        });
        adjust_boms(prod_id);
    });
});

function adjust_boms(prod_id) {
    var url2 = '/' + '{{=request.application}}' + '/boms/get_available_boms.xml/?product_id=' + prod_id;
    var options =  $("#manufacturing_order_bom")

    $.get(url2, function(result) {
        set_elements(true);
        var new_options = ''
        items = $(result).find("item");
        if (items.length < 1) {new_options = "<option value=''>{{=T('N/A')}}</option>"}
        items.each(function() {
            var id = $(this).find('id').text();
            var name = $(this).find('name').text();
            new_options += '<option value=' + id + '>' + name + '</option>';
            /* set places */
            // Zoli commented out to force setting on the GUI
            // var place_from = $(this).find('place_from').text();
            //$("#manufacturing_order_place_from").val(place_from);
            var place_to = $(this).find('place_to').text();
            $("#manufacturing_order_place_to").val(place_to);
        });
        count_for_sync--;
        options.html(new_options);
        set_elements(false, count_for_sync);
    });
}

function set_elements(disabled, count_for_sync) {
    if (disabled == false && count_for_sync > 0) return;
    $('#manufacturing_order_product').prop('disabled', disabled);
    $('#manufacturing_order_unit').prop('disabled', disabled);
    $('#manufacturing_order_bom').prop('disabled', disabled);
    $('#manufacturing_order_planned_date').prop('disabled', disabled);
    $('#manufacturing_order_quantity').prop('disabled', disabled);
    $('#manufacturing_order_remark').prop('disabled', disabled);
    $("#manufacturing_order_place_from").prop('disabled', disabled);
    $("#manufacturing_order_place_to").prop('disabled', disabled);
}
</script>
{{pass}}
