{{page_header=T("Sales Waybill Items")}}
{{extend 'layout.html'}}
<h3>
    {{=db.partner[waybill.partner].name}}, {{=waybill.date_of_delivery}}
</h3>

{{if is_list:}}
{{=upload_form}}
<hr />
{{=delivery_form}}
{{pass}}



{{if form:}}
    {{=form}}
{{pass}}


{{if not is_list:}}
    <script src="{{=URL('static','js/update_stock_fields.js')}}"></script>
{{pass}}

{{if len(request.args) > 0 and request.args[0] == 'edit':}}
<script>
    update_stock_fields({{=waybill.partner}});
</script>
{{pass}}
