{{extend 'layout.html'}}


{{if form:}}
    {{=form}}
{{pass}}

{{if product_rows:}}
<form method="POST" action="/{{=(request.application + '/' + request.controller)}}/add_item">
     <input type="submit" />
<table>
    <tr><td>{{=T('Product Name')}}:</td>
        <td><select id="product_select" name="product_id" autofocus required>
                {{for p in product_rows:}}
                    <option value={{=p.id}}>{{=p.name}}</option>
                {{pass}}
        </select></td>
    </tr>
    <tr>
        <td>{{=T('Unit')}}:</td>
        <td id="unit_text"></td>
    </tr>
</table>

<table id="table_of_serial_numbers">
</table>
</form>
{{pass}}

<script>
$( document ).ready(function() {
    $( "#product_select" ).change(function() {
        var prod_id = $("#product_select").val();
        var url = '/' + '{{=request.application}}' + '/products/get_unit_name/?product_id=' + prod_id;
        $.get(url, function(result) {
            $('#unit_text').text(result);
        });

        var url2 = '/' + '{{=request.application}}' + '/actual_stock/get_actual_stock_of_product.xml/?product_id=' + prod_id;
        $.get(url2, function(result) {
             /* $('#table_of_serial_numbers').empty(''); */
             var row = '';
             $(result).find("item").each(function() {
                row += '<tr><td>'
                       + $(this).find('serial_id').text() + '</td><td>'
                       + $(this).find('quantity').text() + '</td>'
                + '<td><input name="sid:' + $(this).find('serial_id').text() + '"/></td></tr>';
             });
            $('#table_of_serial_numbers').html(row);
        });
    });
});
    
</script>
